{% extends "base.html.twig" %}

{% block body %}

      
    {% include 'header.html.twig' %}

        <div class="section-A">
            <div class="main-container">
                
                {% set rand_categ = 'Categorie' %}

                <p>Votre categorie du mois est : {{ rand_categ }}</p>
            </div>
        </div>

        {{ render(controller('App\\Controller\\HomeController::prestatairesMois')) }} 

        {{ render(controller('App\\Controller\\RechercheController::index')) }} 

    {% include 'footer.html.twig' %}

{% endblock %}

   



