    
<div class=".mail">  
    <h4>Inscription</h4>
    <p>Bienvenu</p>
    <p>Veuillez cliquer sur le lien de confirmation ci-dessous</p>
     <a href="{{ path('type_utilisateur') }}">{{ signedUrl }}</a>
</div>