.main-container {
  width: 90%;
  margin: auto; }

body {
  font-family: "Verdana", "sans-serif";
  font-size: 12px; }

h1 {
  font-size: 15px;
  color: #1c2048; }

h2 {
  font-size: 13px;
  color: #1c2048; }

p {
  color: #1c2048; }

li {
  list-style-type: none; }
  li a {
    color: #3ecd66;
    text-decoration: none; }

img {
  width: 100%;
  height: auto; }

i {
  color: #3ecd66;
  text-align: right;
  font-size: 1.2rem; }

.header .image-fond {
  height: 500px;
  margin: auto;
  background-image: url("../img/Rectangle 19.png");
  background-repeat: no-repeat;
  background-size: contain; }

.header .nav-menu {
  width: 90%;
  height: 100px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header .nav-menu .logo, .header .nav-menu .menu-hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .header .nav-menu .logo img {
    width: 200px;
    height: 100px; }
  .header .nav-menu .menu-hamburger {
    width: 70%; }
    .header .nav-menu .menu-hamburger #fermer-menu {
      position: absolute; }
    .header .nav-menu .menu-hamburger ul li {
      padding-top: 50%;
      text-align: right; }
    .header .nav-menu .menu-hamburger ul, .header .nav-menu .menu-hamburger #fermer-menu {
      display: none;
      margin: 0;
      padding: 0; }
