$couleurs:(
    vert: rgba(62, 205, 102, 1),
    bleu: rgba(28, 32, 72, 1),
    gris_clair: rgba(217, 217, 217, 0.51),

);

$police: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$taille_texte: 14px;
