html{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}
h1{
    font-size: 20px;
    color: rgba(28, 32, 72, 1),
}
 
h2{
    font-size: 18px;
    color: rgba(28, 32, 72, 1),
}

p{
    color: rgba(28, 32, 72, 1),
}
li{
    list-style-type: none;
    a{
        color: rgba(62, 205, 102, 1);
        text-decoration: none;
    }
}


img{
    width: 100%;
    height:auto;
}

i{
    color:rgba(62, 205, 102, 1);
    text-align: right;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}
