
{% block body %}
    
    <footer>

        <div class="main-container">
            <div class="row">

                <div class="col-12 col-md-5 col-xl-5">   
                    <div class="annuaire">
                        © 2023 Annuaire du bien être, S.A
                        
                    </div>

                </div>


                <div class="col-12 col-md-5 col-xl-5">

                    <div class="a-propos">
                        <h3>A propos</h3>
                        <p>Annuaire du bien être est un site developpé en 2023 dans le but de mettre en relation les prestataires du bien être et les demandeurs de services</p>
                    </div>

                </div>


                <div class="col-12 col-md-2 col-xl-2">

                    <div class="media">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-dribbble"></i>
                        <i class="fab fa-behance"></i>
                    </div>

                </div>
            </div>
        </div>
    </footer>

{% endblock %}  